.social_media_modal {
  background: var(--backgroundColor) !important;
  color: var(--textColor) !important;
  border-radius: 10px;

  .modal-header {
    border-color: var(--borderColor) !important;
    padding: 10px 15px !important; 
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-bottom: none;

    .modal-title {
      font-weight: 600;
      font-size: 1rem;
      color: var(--textColor);
    }

    .btn-close {
      filter: invert(1);
      opacity: 0.8;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  .modal-body {
    padding: 16px 12px !important;
    font-size: 0.95rem;
  }

  .modal-footer {
    border-color: var(--borderColor) !important;
    padding: 5px 10px !important;
  }

  .modal_footer_button_groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
}


.social_media_modal_item_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .social_media_modal_item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--primaryColor);
        border-radius: 8px;
        padding: 0 10px;
        min-height: 50px;
        .social_media_modal_item_text{
            font-size: var(--textColor);
            font-weight: 500;
        }
        .social_media_modal_item_controls{
            display: flex;
            gap: 15px;
            .social_media_modal_item_btn{
                background-color: var(--borderColor);
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--textColor);
                cursor: pointer;
            }
        }
    }
}