/*Profile*/

.info_line{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    &:last-child{
        margin-bottom: 0;
    }
    .info_line_content{
        flex:4;
        display: flex;
        align-items: center;
        & > img {
            margin-right: 10px;
        }
        .info_line_content_text{
            font-size: 14px;
            font-weight: 400;
        }
    }
    .info_line_copy_button{
        flex:1;
        &:active{
            transform: scale(0.9);
            transition: transform 0.3s ease;
        }
    }
}

@media only screen and (max-width:768px){
   
}