:root{
    --primaryColor:#3C616D;
    --backgroundColor:#141e22;
    --headerBackgroundColor:#273034;
    --textColor:#ffffff;
    --menuBackgroundColor:#1B272C;
    --activeMenuBackgroundColor:#10181B;
    --activeMenuColor:#7196AC;
    --titleBackground:#243239;
    --submitButtonBackgroundColor:#70C094;
    --linkBackgroundColor:#32424A;
    --labelColor:#8E8E8E;
    --jobColor:#A2A2A2;
}