/*Menu*/

.menu_container{
    width: 100%;
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    .menu_item{
        width: 206px;
        height: 85px;
        border-radius: 5px;
        background-color: var(--menuBackgroundColor);
        color: var(--textColor);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        .menu_text{
            display: none;
            margin-top: 10px !important;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            transition: all 0.3s ease;
        }
    //     .menu_icon{
    //         filter: brightness(0) saturate(100%) invert(100%);
    // transition: filter 0.3s ease;
    //     }
        &.active{
            background-color: var(--activeMenuBackgroundColor);
            color:var(--activeMenuColor) !important;
            transition: all 0.3s ease;
        }
        &.active .menu_text{
            display: block;
            transition: all 0.3s ease;
        }
        // &.active .menu_icon{
        //     filter: brightness(0) saturate(100%) invert(69%) sepia(15%) saturate(419%) hue-rotate(161deg) brightness(92%) contrast(88%);
        // }
    }
}


@media only screen and (max-width:768px){
    .menu_container{
        margin: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: red;
        .menu_item{
            border-radius: 0;
            height: 73px;
        }
    }
}