// /*Side Menu*/

.side_menu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 280px;
  max-width: 280px;
  height: 100dvh;
  background-color: var(--primaryColor);
  z-index: 1100;
  transition: transform 0.3s ease-in-out;
  display: flex;          /* yeni */
  flex-direction: column; /* yeni */

  &.hidden {
    transform: translateX(-100%);
  }

  &.active {
    transform: translateX(0);
  }

  .side_menu_logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0;
    .logo_img {
      width: 125px;
      height: 28px;
      object-fit: cover;
    }
  }

  .side_menu_user {
    padding: 0 35px 0 22px;
    .side_menu_avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--avatarBorderColor);
      overflow: hidden;
      .side_menu_avatar_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .side_menu_info {
      margin-top: 15px;
      .side_menu_info_fullname {
        font-size: 16px;
        font-weight: 700;
        color: var(--textColor);
        margin: 0;
        padding: 0;
      }
      .side_menu_info_title {
        font-size: 13px;
        font-weight: 400;
        color: var(--avatarBorderColor);
        margin: 2.5px 0 0 0;
        padding: 0;
      }
    }
  }

  .side_menu_content {
    // padding: 0 35px 0 22px;
    // margin-top: 48px;
    // flex: 1; 
    // overflow-y: auto;
    // display: flex;
    // flex-direction: column;
    flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  padding: 0 35px 0 22px;
    .menu_item {
      .menu_label_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        width: 100%;
        cursor: pointer;
        .menu_label {
          flex-grow: 1;
          .menu_item_icon {
            width: 25px;
            height: 25px;
            margin-right: 25px;
          }
          .menu_item_text {
            color: var(--textColor);
            font-size: 14px;
            font-weight: 700;
          }
        }
      }
      .menu_children {
        padding-left: 20px;
        .theme_option {
          display: flex;
          align-items: center;
          height: 35px;
          cursor: pointer;

          .color_circle {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid black;
            margin: 0 10px;
          }

          &.selected {
            background-color: var(--selectedMenuItem);
            border-radius: 20px;
            color: var(--addCompanyButton);
          }
        }
        .menu_children_link {
          display: flex;
          align-items: center;
          padding: 8px 10px;
          border-radius: 4px;
          color: var(--textColor);
          font-size: 13px;
          cursor: pointer;

          &:hover {
            background-color: var(--linkBackgroundColor);
          }
        }
      }
    }
  }

  .side_menu_mobile_button {
    display: none;
  }
}

.side_menu_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.43);
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .side_menu {
    min-width: 192px;
    max-width: 192px;
    .side_menu_logo {
      margin: 33px 0;
      .logo_img {
        width: 86px;
        height: 19px;
      }
    }
    .side_menu_user {
      padding: 0 24px 0 15px;
      .side_menu_avatar {
        width: 54px;
        height: 54px;
      }
      .side_menu_info {
        margin-top: 10px;
        .side_menu_info_fullname {
          font-size: 14px;
        }
        .side_menu_info_title {
          font-size: 12px;
        }
      }
    }
    .side_menu_content {
      margin-top: 38px;
      padding: 0 24px 0 15px;
      position: relative;
      .menu_item {
        .menu_label_container {
          .menu_label {
            .menu_item_icon {
              width: 24px;
              height: 24px;
              margin-right: 15px;
            }
          }
        }
        .menu_children {
          padding-left: 0;
        }
      }
    }
    .side_menu_mobile_button {
      display: flex;
      position: absolute;
      top: 129px;
      right: -47px;
      width: 47px;
      height: 47px;
      background-color: var(--primaryColor);
      border-radius: 0 10px 10px 0;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 1150;

      > img {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }
    }

    &.active {
      .side_menu_mobile_button > img {
        transform: rotate(0);
      }
    }
  }
}