/**/

.social_media_skeleton_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
  .social_media_skeleton_item {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.3);
    isolation: isolate;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transform: translateX(-100%);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3) 25%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3)
      );
      animation: shimmer 1.2s infinite;
    }
  }
}

@media only screen and (max-width: 768px) {
  .social_media_skeleton_container {
    gap: 50px;
    .social_media_skeleton_item {
      width: 65px;
      height: 65px;
      border-radius: 50%;
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
