/*Marketing Assets*/

.marketing_assets_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
  width: 100%;
  .marketing_assets_card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .marketing_assets_card {
      height: 282px;
      border-radius: 17px;
      overflow: hidden;
      width: 100%;
      .marketing_assets_card_header {
        width: 100%;
        height: 228px;
        display: flex;
        align-items: center;
        justify-content: center;
        .marketing_assets_card_header_img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .marketing_assets_card_content {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--addCompanyButton);
        color: var(--textColor);
        .marketing_assets_card_content_text {
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          margin: 0;
          padding: 0;
        }
      }
    }
    &.update .marketing_assets_card_delete_button {
      display: flex;
    }
    .marketing_assets_card_delete_button {
      margin-top: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--linkBackgroundColor);
      &:active {
        transform: scale(0.9);
        transition: transform 0.3 ease;
      }
      .marketing_assets_card_delete_button_img {
        width: 17.5px;
        height: 17.5px;
      }
    }
  }
}

.marketing_assets_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-top: 50px;
  cursor: pointer;
  &:active {
    transform: scale(0.9);
    transition: transform 0.3s ease;
  }
  .marketing_assets_circle {
    border: 3px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    .marketing_assets_circle_img {
      width: 20px;
      height: 20px;
    }
  }
  .marketing_assets_text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--textColor);
  }
}

.marketing_asset_modal .modal-content {
  background-color: var(--menuBackgroundColor) !important;
  border-radius: 2px !important;
}
.marketing_asset_modal .modal-header {
  border-bottom: none !important;
}
.marketing_asset_modal .modal-body {
  // background-color: red !important;
}
.marketing_asset_modal .modal-title {
  line-height: 0 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  color: var(--textColor) !important;
  padding: 20px 0 20px 10px !important;
}
.marketing_asset_modal .modal-header .btn-close {
  filter: invert(1); 
  
}

.marketing_asset_modal .modal-footer {
  height: 65px !important;
  padding: 5px !important;
  border-top: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px;
}
.marketing_asset_cancel_btn,
.marketing_asset_submit_btn {
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 35px;
  background-color: var(--submitButtonBackgroundColor);
  color: var(--textColor);
}
.marketing_asset_cancel_btn {
  background-color: crimson;
}



.marketing_assets_modal_body{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  .configure{
    width:65%;
    .configure_input_group{
      margin-bottom: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--linkBackgroundColor);
      border-radius: 5px;
      height: 45px;
      position: relative;
      .configure_label{
        border-right: 1px solid var(--linkBackgroundColor);
                font-size: 16px;
        font-weight: 500;
        color: var(--labelColor);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
      }
      .configure_input{
                background: none;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        caret-color: var(--labelColor);
        color: var(--labelColor);
      }
      .configure_size{
                position: absolute;
        right: 5px;
        bottom: 0;
        font-size: 12px;
        font-weight: 500;
        color: var(--labelColor);
        &.max_size {
          color: crimson;
         }
      }
    }
    .configure_documents{
      display: flex;
      gap: 20px;
      .document{
        flex: 1;
        height:300px;
        border-radius: 5px;
        border: 1px solid var(--linkBackgroundColor);
        display: flex;
        align-items: center;
        justify-content: center;
        .add_document_button{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          & > span{
            font-size: 14px;
            font-weight: 500;
            color: var(--textColor);
            margin-top: 10px;
            text-align: center;
          }
          .circle_plus{
            width:65px;
            height:65px;
            border-radius: 50%;
            border: 1px solid var(--textColor);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:active{
              transform: scale(0.9);
              transition: 0.3s transform ease-in-out;
            }
            & > img {
              width:30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
  .preview{
    width:35%;
    height: 360px;
      .preview_card {
    height: 100%;
    margin-left: auto;
    border-radius: 7px;
    overflow: hidden;
    .preview_card_header {
      height: 80%;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .preview_card_content {
      height: 20%;
      background-color: var(--addCompanyButton);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: var(--textColor);
    }
  }
  }
}

@media only screen and (max-width: 768px) {
  .marketing_assets_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .marketing_assets_button {
    width: auto;
  }
  .marketing_asset_cancel_btn,
  .marketing_asset_submit_btn {
    height: 28px;
    flex: 1;
  }
  .marketing_asset_modal .modal-title {
    font-size: 15px !important;
  }
  .marketing_asset_modal .modal-content {
    height: 85vh;
  }
  .marketing_asset_modal .modal-body {
    max-height: 600px;
    overflow: auto;
  }
  .marketing_assets_modal_body{
  flex-direction: column;
  .configure{
    width:100%;
    margin-bottom: 10px;
    .configure_documents{
      flex-direction: column;
      gap: 20px;
      .document{
        min-height: 50px;
        .add_document_mobile_body{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 10px;
          cursor: pointer;
          & > span{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--textColor);
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .preview{
    width:222px;
    height: 320px;
  }
}
}
